body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/bg.avif");
    color: #5E4444;
    margin: 0 auto;
    max-width: 90vw;
}
 .i5 {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 50vw;
content: url(../images/sakura5.png);
}
.i4{
    content: url(../images/sakura4.png);
    max-width:100px; margin-right: 10px;
    display: inline-block;
}
.i3 {
    content: url(../images/sakura3.png);
   width: 150px;
    height: auto;
    display: inline-block;
}
.gif{
    width: 200px;
    content: url(../images/cute-core-hatsune-miku.gif);
   margin: 10px;
    align-items: right;
}
a {
    color: #7C7C7C;
}

a:visited {
    color: #7C7C7C;
}

a:active {
    color: #867E35;
}
p {
text-align: justify;
}
.tablest {

    background-color: #CECBB2;
    border-collapse: separate;
    width: 40%;
}

.tablest td {
    border: 3px solid #6e765f;
    padding: 5px;
}

.emoji {
    text-align: center;
    font-size: 18px;
}

.tablest tr:hover {
    background-color: #e0dcc5;
}
.emtablest {
    margin: 0 auto;
    background-color: #CECBB2;
    border-collapse: separate;
    width: 60%;

}

.emtablest td {
    border: 3px solid #6e765f;
    padding: 10px;
}
.emtablest tr:hover {
    background-color: #e0dcc5;
}

.tableneko {
    margin: 0 auto;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 20px; 
    padding: 10px;
    } 
 .tableneko .text{
        text-align: center;
}
.row {
    display: flex;
    gap: 200px;
}

.box {
    align-items: center;
    text-align: center;
    flex: 1;
    width: 40vw;
}
.textc{
    text-align: center;
}
.g{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}
.st{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}
.et{
    max-width: 50vw;
    margin: 0 auto;
    display:grid;
   grid-template-columns: repeat(5, 1fr);
  gap: 40px;

}
@media(max-width:880px){
.g{
    grid-template-columns: 1fr 1fr;
    font-size: 3vw;
}
}
@media(max-width:700px){
    h1, h2 {
        text-align: center;
        font-size: 4.5vw;
    }
    footer {
        flex-direction: column;
    }
    footer div p {
      
        font-size: 3.5vw;
    }
    .gif{
       display: block;
        margin: 10px auto;
       
    }
    .tablest.kao{
        min-width: 90vw;
    }
    .g{
    grid-template-columns: 1fr;
}
.st{
    grid-template-columns: 1fr;
}
.box{
    width: 90vw;
}
.et{
    grid-template-columns: repeat(2, 1fr);
}

}

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

.nav a {
    text-decoration: none;
    background-color: #F1CCCF;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.nav a:hover {
    background-color: #ecdbd7;
}

