body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/images/bg.avif");
    color: #5E4444;
    margin: 0 auto;
    width: 90%;
}
 .i5 {
display: block;
margin-left: auto;
margin-right: auto;
content: url(/images/sakura5.png);
}
.i4{
    content: url(/images/sakura4.png);
}
.i3 {
    content: url(/images/sakura3.png);
   width: 150px;
    height: auto;
    display: inline-block;
}
.gif{
    content: url(/images/cute-core-hatsune-miku.gif)
}
a {
    color: #7C7C7C;
}

a:visited {
    color: #7C7C7C;
}

a:active {
    color: #867E35;
}
p {
text-align: justify;
}
.tablest {

    background-color: #CECBB2;
    border-collapse: separate;
    width: 40%;
}

.tablest td {
    border: 3px solid #6e765f;
    padding: 10px;
}

.emoji {
    text-align: center;
    font-size: 18px;
}

.tablest tr:hover {
    background-color: #e0dcc5;
}
.emtablest {
    margin: 0 auto;
    background-color: #CECBB2;
    border-collapse: separate;
    width: 60%;

}

.emtablest td {
    border: 3px solid #6e765f;
    padding: 10px;
}
.emtablest tr:hover {
    background-color: #e0dcc5;
}
.navigation {
    margin: 0 auto;
    background-color: transparent;
    border-collapse: separate;
    width: 80%; 
    border-spacing: 10px; 
    padding: 10px;
}
.navigation td {
    font-weight: bold;
    border: 3px solid #caa9ac;
    background-color:#F1CCCF;
    text-align: center;
}
.navigation td:hover{
background-color: #ecdbd7;
}
.tableneko {
    margin: 0 auto;
    background-color: transparent;
    border-collapse: separate;
    width: 80%; 
    border-spacing: 20px; 
    padding: 10px;
    } 
 .tableneko .text{
        text-align: center;
}
.row {
    display: flex;
    gap: 200px;
}

.box {
    align-items: center;
    text-align: center;
    flex: 1;
}
.photo{
   display:block;
   margin: 0 auto;
   border: 4px solid rgb(242, 174, 107);
}
.textc{
    text-align: center;
}